<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="in.sivalabs.trackit.mappers.OrganizationMapper">
    
    <resultMap id="OrganizationResultMap" type="Organization">
    	<id     column="id" property="id"/>
    	<result column="name" property="name"/>
    	<result column="owner_user_id" property="owner.id"/>
    	<result column="created_by" property="createdBy"/>
    	<result column="created_date" property="createdDate"/>
    	<result column="updated_by" property="updatedBy"/>
    	<result column="updated_date" property="updatedDate"/>    	
    </resultMap>
    
    <select id="selectOrganizationById" resultType="Organization">
        select * from organizations where id = #{id}
    </select>
    
    
    <select id="isOrganizationNameExists" resultType="boolean">
    	select case when exists 
    		( SELECT 1 FROM organizations 
    		  WHERE owner_user_id=#{user.id} and name = #{name} 
    		) 
		   then 1 
		   else 0 
		end
    </select>
    
    <select id="selectOrganizationsByUserId" resultType="Organization">
    	SELECT * FROM organizations WHERE id IN (SELECT org_id FROM orgs_users WHERE user_id = #{userId} AND disabled = FALSE)
    </select>
    
</mapper>