<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="in.sivalabs.trackit.mappers.TagMapper">
    
    <resultMap id="TagResultMap" type="Tag">
    	<id column="id" property="id"/>
    	<result column="name" property="name"/>
    	<result column="org_id" property="organization.id"/>
    	<result column="created_by" property="createdBy"/>
    	<result column="created_date" property="createdDate"/>
    	<result column="updated_by" property="updatedBy"/>
    	<result column="updated_date" property="updatedDate"/> 
    </resultMap>
    
    <select id="selectTagsByOrgId" resultMap="TagResultMap">
    	SELECT t.* FROM tags t WHERE t.org_id=#{orgId}
    </select>
</mapper>